@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800&display=swap');
@import "variables";
@import "nav";
@import "fonts";
@import "form";
@import "custom";

body {
    background-color: rgb(230 230 230) !important;
    letter-spacing: 0.3px !important;
    font-family: 'Inter', sans-serif !important;
}

.primary-heading {
    font-family: 'Roboto Slab', serif !important;
}


// .dark-mode body {
//     background-color: #091a28;
//     color: #ebf4f1 !important;
// }

// .sepia-mode body {
//     background-color: #f1e7d0;
//     color: #433422!important;
// }